<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eatventure</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function search() {
            var res_name_value = document.getElementById("restaurant-name-search").value.replace(/ /g, "-");
            var res_name_value = res_name_value.replace(/'/g, "");
            if (res_name_value.length == 0) {
                res_name_value = "-";
            }
            var street_name_value = document.getElementById('street-name-search').value.replace(/ /g, "-");
            if (street_name_value.length == 0) {
                street_name_value = "-";
            }
            var postcode_value = document.getElementById('postcode-search').value.replace(/ /g, "-");
            if (postcode_value.length == 0) {
                postcode_value = "-"
            }
            var host_url = window.location.host;
            request_url = "http://" + host_url + "/search/" + res_name_value + "/" + street_name_value + "/" + postcode_value + "/";
            window.location.assign(request_url);
        }

        function managerLogin() {
            var host_url = window.location.host;
            window.location.assign("http://" + host_url + "/login/");
        }

        function show_map_stats() {
            var host_url = window.location.host;
            window.location.assign("http://" + host_url + "/mapstats/");
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0;">

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="form-inline my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Restaurant name" aria-label="Restaurant name" id="restaurant-name-search">
                <input class="form-control mr-sm-2" type="text" placeholder="Street name" aria-label="Street name" id="street-name-search">
                <input class="form-control mr-sm-2" type="text" placeholder="Postcode" aria-label="Postcode" id="postcode-search">
                <button class="btn aqua-gradient btn-rounded btn-sm mr-sm-2 my-0" type="button" onclick="search();">Search</button>
                <button class="btn aqua-gradient btn-rounded btn-sm mr-sm-2 my-0" type="button" onclick="show_map_stats();">Map Stats</button>
                <p class="aqua-gradient my-0">{{ results_count | safe }}</p>
            </form>

        </div>
        <button class="btn aqua-gradient btn-rounded btn-sm mr-sm-2 my-0" type="button" onclick="managerLogin();">Manager Login</button>
    </nav>
    {{ map | safe }}

</body>